<div class="contactme">
	<h1>Contact Info</h1>
	<div class="slid">
		<p>Feel free to contact me at my email address for any comments or questions.</p>
		<div class="indented">
			<p class="email">Email: <a href="mailto:falornan@gmail.com">ajbangel@gmail.com</a></p>
		</div>
		<br>
		<div class="signed">
			<p>Andrew Bangel</p>
			<p>San Francisco, California</p>
		</div>
	</div>
</div>
<div class="contactpic">
	<p>&nbsp;</p>
</div>