<div class="navbar">
  <ul>
    <li><%= link_to 'BREAKDOWN', @demoreel.breakdown_url %></li>
  </ul>
</div>
<div id="demoreel-video">
  <div class="video-wrapper">
    <%= render inline: @demoreel.video_url %>
  </div>
</div>

<% if current_user %>
	<%= link_to 'Edit', edit_demoreel_path(@demoreel) %> |
	<%= link_to 'Back', demoreels_path %>
<% end %>
