// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$contact-text-size:     1.4em;

section#contact {
    @include span-columns(16);
    @include shift(4);
    @include omega;

	position: relative;
	min-height: 700px;
	padding: 40px;

	@include background(image-url("pageborders.png") top left no-repeat);

	h1 {
		font-family:  $base-content-font;
		font-weight:  normal;
		font-style:   normal;
		color:        white;
		font-variant: small-caps;
		margin-bottom: 20px;
	}

	.contactpic {
		@include span-columns(8 of 16);
		@include omega;
		@include background(image-url("contactme.png"));

		z-index: 			  -100;
		position:             relative;
		padding-left:         15px;
		background-repeat:    no-repeat;
		background-position:  top right;
		background-size:      contain;
		background-origin:    content-box;
		min-height:           550px;
	}

	.contactme {
		@include span-columns(8 of 16);
		
		position: relative;

		.slid {
			position: relative;
			left: 30px;
		}

		.indented {
			position: relative;
			left: 75px;
		}

		p, a {
            font-family: $base-content-font;
            font-weight: normal;
            font-style:  normal;
			color: white;
			font-size: $contact-text-size;
			font-variant: small-caps;
			margin-bottom: -5px;
		}

		a {
			color: $selected-page-color;
		}

		p.email {
			font-weight: 900;
		}

		.signed {
			font-family: $thin-content-font;
			font-weight: 500;
			font-style:  normal;
			font-size: $contact-text-size;
			margin-top: 30px;
		}
	}
}
