// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$panel-content-color: white;

section#works {	
	.admin {
		@include span-columns(2);
		@include omega;
		font-family: $base-content-font;
		font-weight: normal;
		font-style:  normal;

		a {
			@extend %button;
		}
	}

	.panel {  
		///////////////////////////////////////////////////////////////////////////////////
		$base-border-radius: 3px !default;
		$base-accent-color: #477DCA !default;
		-webkit-font-smoothing: antialiased;
		//////////////////////////////////////////////////////////////////////////////////

		$panel-background-top: #7F99BE; 
		$panel-background-bottom: #20392B;
		$gradient-angle: 10deg;
		$panel-image: image-url("panel-background.png");

		@include span-columns(18);
		@include shift(2);
		@include background($panel-image);

		background-size: contain;
		background-repeat: no-repeat;
		position: relative;
		padding-bottom: 3em;
		padding-left: 10px;
		margin-bottom: 40px;
		color: $page-content-color;

		h1 {
			@include span-columns(16 of 18);
			@include shift(1 of 20);
			font-family: $base-content-font;
			font-weight: bold;
			font-style:  normal;
			font-size:   2em;
			margin-top:  .5em;
			margin-bottom: .1em;

			@include media($large-screen) {
				font-size: 2.5em;
			}
		}

		.video-wrapper {
			@include span-columns(9 of 18);
			@include shift(1 of 20);
			padding-bottom: 300px;
		}

		.description {
			@include span-columns(6 of 18);
			@include shift(1 of 20);
			@include omega;
			font-family: $base-content-font;
			font-weight: normal;
			font-style:  normal;
		}

/*
		.abc {
			color: $panel-content-color;
			margin: auto;
			padding: 3.5em;
			text-align: left;

			.panel-copy {
				text-align: left;


				p {
					font-weight: 200;
					line-height: 1.4em;
					margin: 0 auto 3em auto; 

					@include media($large-screen) {
						font-size: 1.1em;
						max-width: 40%;
					}
				}
			}
		}
*/
	}
}
